# 默认值已经适合纯本机使用。若修改 API_PORT，也要同步修改 NEXT_PUBLIC_API_URL。
WEB_PORT=3000
API_PORT=8080
POSTGRES_PORT=5433
NEXT_PUBLIC_API_URL=http://localhost:8080

DOCKER_IMAGE_PREFIX=docker.1ms.run/library/

POSTGRES_DB=algo_arena
POSTGRES_USER=algo
POSTGRES_PASSWORD=algo
